#root {
  /* width: 200vh; */
  /* height: 100vh; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* background-color: rgb(30, 30, 30); */
  background: radial-gradient(#007d40,#004d28);
  /* background: linear-gradient(0deg,#004d28, #007d40); */
  height: 100vh;
  color: rgb(0, 180, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  width: auto;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  justify-content: center;
  max-width: auto;

  /* background-color: rgb(207, 91, 91); */

  overflow: hidden;
}

.passwordGenContainer{
  /* margin-top: 30vh; */
  margin-top: 10%;
  /* margin-bottom: 10%; */
  padding: 2rem 3rem;
  border-radius: 30px;
  background-color: rgb(74, 74, 74);
  /* box-shadow: inset 10px 1em 1em black; */
  /* box-shadow: inset 10px 1em 1em rgb(21, 21, 21); */
  box-shadow: inset 5px 5px 20px rgb(21, 21, 21);
  justify-content: center;
  
}

h1{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-align: center;
}

button{
  color: aliceblue;
  border: none;
  /* background: rgb(50, 50, 50); */
  background: rgb(35, 35, 35);
  padding: 3px 2px;
  border-radius: 10px;
}

button:hover{
  background: black;
}

.row1{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  /* align-content: space-between; */
  /* background-color: aliceblue; */
}

.row1 .subRow1 input{

  border-radius: 5px;
  border: none;
  overflow:visible;
}

.row1 .subRow1 button{
  margin-left: 10px ;
}

.row2{
  display: flex;
  flex-direction: column;

}

.subRow1 input[type="text"]{
  cursor: crosshair;
  /* background-color: rgb(205, 205, 205); */
  background: linear-gradient(180deg, silver, white);
}

input[type="range"]{
}